<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="STCP Stops">
      {assigns[:page_title]}
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/css/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/js/app.js"}>
    </script>
    <%!-- 
    Use the lines CSS from stcp with a gray background fallback default.
    The css is small, fast to load and appears to be cached.
    I could host it here, but it would require me to update if new lines are added.
    Also, if STCP is not working, we are not getting the buses times either way.
    Elegant solution that just works.
    --%>
    <link rel="stylesheet" href="https://www.stcp.pt/fotos/cache/stcp/linhas.css">
    <%!-- Also adding STCP Favicon --%>
    <link rel="shortcut icon" href="https://www.stcp.pt/favicon.ico" type="image/x-icon">
  </head>
  <body class="bg-gray-50">
    {@inner_content}
  </body>
</html>
